.footer 
  .footer-description 
    .stores-registration
      .h4 ここは出店者登録
      %p ・マイページ
      %p ・新規会員登録
      <br>
      %p ・HOME
    
    .event-guidance
      .h4 ここは開催案内
    
    .stores-opner
      .h4 ここは出店者案内
    
    .information-container
      .h4 FAQ
      <br>
      <br>
      <br>
      .organizer-container
      .h4 会社概要
    


.footer-copylight
  %p &copy; 2024 マルシェイベント
