-# %h1 つながるマルシェ

-# %h2 デイトラ

-# .header
-#   %h1 つながるマルシェ


%body
  = render 'header/header' # ヘッダーのパーシャルを呼び出す
    

  .event-container 
    .event-btn
      = link_to events_index_path do
        .link_inner
          %h3 イベント一覧



  .facility-container 
    .facility-btn
      = link_to facility_index_path do
        .link_inner
          %h3 出展施設一覧
      