.section-index {
    margin: 20px 0;
    margin-bottom: 60px;
  
    h2 {
      font-size: 24px;
      margin-bottom: 15px;
      color: #333;
      text-align: left;
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px 0;
      font-size: 16px;
      text-align: left;
      table-layout: fixed; // 列幅を固定
    }
  
    thead {
      background-color: #f4f4f4;
  
      th {
        padding: 10px;
        border-bottom: 2px solid #ddd;
        text-align: left;
        width: 33.33%; // 各列を3分割
      }
    }
  
    tbody {
      tr {
        &:nth-child(even) {
          background-color: #f9f9f9; // 偶数行の背景色
        }
  
        &:hover {
          background-color: #f1f1f1; // ホバー時の背景色
        }
      }
  
      td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        text-align: left; // 全ての列を中央揃え
        width: 33.33%; // 各列を3分割
      }
    }
  
    .btn {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      text-decoration: none;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }