.header
  .header-left
    = link_to root_path do
      .link_inner
        %h1 つながるマルシェ

  .header-logo
    = image_tag "", alt: "つながるマルシェ"

  .header-right
    %p サブタイトル
  .login-btn
    %button 個人出展者<br>ログイン
    %button 個人出展<br>会員登録
  .signup-btn
    %button 施設出店者<br>ログイン
    %button 施設出店<br>会員登録

.nav
  %nav
    %ul
      %li
        %a{href: "#"} イベントタイプ<br>から選択
      %li
        %a{href: "#"} イベント地域　<br>　から選択
      %li
        %a{href: "#"} 日程から選択
      %li
        %a{href: "#"} 出展するには？
      %li
        %a{href: "#"} FAQ & Tips