.header
  .header
    = link_to root_path do
      .link_inner
        %h1 つながるマルシェ
    
  
    
  .header-logo
    = image_tag "", alt: "つながるマルシェ"
     
  .header-right
    %p サブタイトル
    .login-btn
      %button ログイン
      %button サインアップ
.nav
  %nav
    %ul
      %li
        %a{href: "#"} イベントタイプから選ぶ
      %li
        %a{href: "#"} イベント地域から選ぶ
      %li
        %a{href: "#"} 日程から選ぶ
      %li
        %a{href: "#"} 出展するには？
      %li
        %a{href: "#"} FAQ & Tips 