// Entry point for your Sass build
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #ffffff;
  // padding: 20px;
}

h1, h2 {
  color: #d87093; /* 温かみのあるピンク */
  // margin-bottom: 20px;
}

h1 {
  // font-size: 2.5em;
}

h2 {
  font-size: 1.8em;
}

p {
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
  color: #5f9ea0; /* 温かみのある青緑 */
}

a {
  color: #d87093;
  text-decoration: none;
}

a:hover {
  font-weight: bold; /* ホバー時に太文字にする */
}




.header-left .link_inner {
    font-size: 12px;
    width: 200px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.header-logo {
  margin: 10px;
  padding: 10px;
  width: 500px; /* ロゴの幅を調整 */
}

.header-right {
  display: flex;
  align-items: center;
  width: 200px;
}



.login-btn,.signup-btn {
    text-align: center;
    width: 120px;
    word-wrap:break-word; //単語で切って改行してくれる
}

.button {
  display: inline-block;
  margin: 8px;
  padding: 4px 4px;
  width: 100px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #0056b3;
}

.button-delete {
  background-color: #ff4d4d; /* 赤色 */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.button-delete:hover {
  background-color: #cc0000; /* 濃い赤色 */
}

nav ul {
  display: flex;
  list-style: none;
  padding: 10px;
  padding-bottom: 0;
  background-color: #f5fded;
  
}

nav ul li {
  margin: 5px;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.nav nav ul {
  list-style: none; /* デフォルトのリストマーカーを非表示 */
  padding: 0;
  margin: 0;
  display: flex; /* 横並びにする場合 */
  justify-content: space-around; /* 要素間に均等なスペースを配置する場合 */
  align-items: center; /* 垂直方向中央揃え */
}

.nav nav ul li {
  position: relative; /* 擬似要素の配置基準 */
  padding: 0 5px; /* 左右の余白 (線の間隔) */
}

.nav nav ul li a {
  text-decoration: none; /* リンクの下線を非表示にする場合 */
  color: #333; /* テキストの色 */
}

.nav nav ul li::before,
.nav nav ul li::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px; /* 線の太さ */
  height: 30px; /* 線の高さ (li の高さに対する割合) */
  background-color: #ccc; /* 線の色 */
}

.nav nav ul li:first-child::before,
.nav nav ul li:last-child::after {
  display: none; /* 最初と最後の項目の外側の線は非表示にする場合 */
}

.nav nav ul li::before {
  left: 0; /* 左端に配置 */
}

.nav nav ul li::after {
  right: 0; /* 右端に配置 */
}

nav ul li a {
  padding: 20px;
  text-decoration: none; /* リンクの下線を削除 */
  color: #333; /* リンクの文字色 */
}


.top-container {
    background-size: contain;
    background-image: url("/assets/top-page-image.png");
    background-repeat: no-repeat; /* 通常は繰り返しをなくします */
    background-position: center; /* 画像を中央に配置 */
    // margin-bottom: 10px;
    display: flex;
    // border: 1px solid #000;
    // margin-top: 60px;
    justify-content: space-evenly; /* 要素と両端に均等なスペース */
    align-items: center; /* 横方向の中央揃え（必要に応じて） */
    height: 600px;/* 親要素の高さをビューポートの高さに合わせる（必要に応じて） */
    text-align: center;
    margin: 10px auto;
}

.event-container {
    background-color: #fbdd83;
    width: 25%;
    padding: 0 auto;
    border-radius: 50px;
    text-align: center;
    box-shadow: 3px 3px 11px rgba(89, 12, 12, 0.8);
}

.event-btn {
    margin: 10px;
    padding: 10px;
}

.facility-container {
    box-shadow: 3px 3px 11px rgba(89, 12, 12, 0.8);
    text-align: center;
    background-color: #fbdd83;
    width: 25%;
    border-radius: 50px;
}

.facility-btn {
    margin: 10px;
    padding: 10px;
  
}

.link_inner {
    padding: 0px;
    padding: auto;
    
    h3 {
      font-size: 24px;
      color: #000;
    }
}

.top-image {
   
    width: 40%;
    overflow: hidden; /* スライダーの幅を超えた画像を隠す */
    position: relative; /* ナビゲーションボタンの配置基準 */
    text-align: center;
    // border: 1px solid #000;
    // height: 350px;
    margin: 0 auto;
    margin-top: 60px;

}

.top-slider {
  
  display: flex; /* 横一列に画像を並べる */
  transition: transform 0.5s ease-in-out; /* スライドのアニメーション */
}

.top-slider img {
    // border: 1px solid #000;
  margin: 20px;
  width: 100%; /* 各画像の幅をコンテナに合わせる */
  flex-shrink: 0; /* 画像が縮小しないように */
  
}

.slider-navigation button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10; /* 画像より手前に表示 */
}

.slider-navigation .prev {
  left: 10px;
}

.slider-navigation .next {
  right: 10px;
}

.column-section {
    display: flex;
    
    background-color: #f5fded;
    margin: 20px 0;
    margin-top: 60px;
}

.section.news {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.section.news li {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.sns-container {
    width: 40%;
    // padding: 12px;
    // margin: 10px;
    background-color: #fff8f0; /* 薄いベージュ */
    border-left: 1px solid #ccc; /* 左側に線を追加 */
}



.sns-inner {
  height: 200px;
  .h3 {
    margin-left: 20px;
  }
  img {
    width: 50px;
    border-radius: 10px;
  }
}


.section.events {
    margin-top: 60px;
    margin-bottom: 30px;
}


.event-list {
    display: flex;
    margin: 20px;
    border: 1px solid #000;
}

.event-item {
  width: 200px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #000;
}

.event-item img {
  width: 200px;
}

.section.recruitment {
    margin-top: 60px;
}

.recruitment-content {
    width: 100%;
    text-align: center;
    border: 1px solid #000;
}

.recruitment-content img {
    margin: 60px;
    padding: 50px;
}


.section.description {
    /* width: 90%; */
    margin: auto;
    margin-top: 60px;
    
}

.marche-description {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000;
}

.footer {
    margin-top: 60px;
    height: 500px;
    display: flex;
    align-items: flex-end;
    border-top: 1px solid #000;
}

.footer-description {
    display: flex;
    width: 100%;
    justify-content:space-around;
    margin: auto;
    margin-top: 60px;

}

.footer-copylight {
    text-align: center;
}

.title-content-container {
  display: flex; /* 横並びにする */
  justify-content: space-between; /* 両端配置、間隔を空ける */
  align-items: center; /* 縦方向の中央揃え */
  margin: 20px;
}

.title-content {
  margin-right: 20px; /* 右側の要素との間隔 */
}

.filter-form {
  background-color: #fff8f0; /* 薄いベージュ */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.filter-form label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}

.filter-form select {
  width: 40%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.filter-form input[type="submit"] {
  background-color: #ffead4; /* 薄いオレンジ */
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-form input[type="submit"]:hover {
  background-color: #ffd8b1; /* より濃いオレンジ */
}

.message {
  color: #8b0000; /* ダークレッド */
  font-weight: bold;
  margin-top: 10px;
}

.event-cards {
  display: flex;
  flex-wrap: wrap;
  
}
  
.event-card {
  width: 300px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.event-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  
}

.event-no-image {
  
  width: 100%;
  height: 200px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #d3d5d3;
}


.event-card-content {
  padding: 10px;
  text-align: left;
  h3 {
    margin-top: 0px;
  }
}

.event-form {
  background-color: #fff8f0; /* 薄いベージュ */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-width: 90%; /* フォームの最大幅を設定 */
  margin-left: auto; /* 中央寄せにする */
  margin-right: auto; /* 中央寄せにする */
}

.event-form label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}

.event-form input[type="text"],
.event-form textarea,
.event-form select,
.event-form input[type="number"],
.event-form input[type="datetime-local"] { /* datetime-local を追加 */
  width: 80%;
  padding: 10px;
  
  border: 3px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.event-form input[type="checkbox"] {
  margin-right: 5px;
}

.event-form input[type="submit"] {
  background-color: #ffead4; /* 薄いオレンジ */
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.datetime-select-container {
  display: flex; /* 横並びにする */
  align-items: center; /* 縦方向の中央揃え */
  width: 600px;
}

.datetime-select-container select {
  margin-right: 5px; /* セレクトボックス間の余白 */
}

.datetime-fields .field {
  flex: 1; /* 各フィールドを均等に広げる */
  margin-right: 10px; /* フィールド間の余白 */
}

.datetime-fields .field:last-child {
  margin-right: 0; /* 最後のフィールドの右余白を削除 */
}

.prefectures-field {
  width: 300px;

}
.event-form input[type="submit"]:hover {
  background-color: #ffd8b1; /* より濃いオレンジ */
}

.event-form .field {
  margin-bottom: 20px;
}

.event-form .actions {
  text-align: center;
}

.event-form .error-messages {
  color: #8b0000; /* ダークレッド */
  font-weight: bold;
  margin-bottom: 10px;
}

.event-form .error-messages li {
  list-style: none;
}

// body {
//   font-family: 'Arial', sans-serif;
//   line-height: 1.6;
//   color: #333;
//   background-color: #f8f8f8;
//   padding: 20px;
// }

// h1, h2 {
//   color: #d87093;
//   margin-bottom: 20px;
// }

// h1 {
//   font-size: 2.5em;
// }

// h2 {
//   font-size: 1.8em;
// }

.event-images {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.event-image {
  width: 300px;
  margin-right: 10px;
  margin-bottom: 60px;
  img {
    width: 100%; /* 親要素の幅に合わせる */
    height: auto; /* 高さを自動調整 */
    object-fit: contain; /* 縦横比を維持して収まるように表示 */
    border-radius: 8px;
  }
}

.event-images .event-no-image {
  width: 300px;
  border-radius: 8px;
}

// .event-image:nth-child(5n) {
//   margin-right: 0;
// }

img {
 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table.event-details {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table.event-details th,
table.event-details td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table.event-details th {
  width: 20%;
  font-weight: bold;
  background-color: #f2f2f2;
}

.edit-links {
  margin-top: 20px;
}

.edit-links a {
  padding: 8px 15px;
  border: 1px solid #d87093;
  border-radius: 5px;
  margin-right: 10px;
}

.edit-links a:hover {
  background-color: #ffe4e1;
}






.seller-mypage {
  padding: 20px;
  font-family: sans-serif;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .seller-profile-info {
    h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    table {
      width: 100%;
      border-collapse: collapse;

      th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      th {
        width: 150px;
        font-weight: bold;
      }

      img {
        max-width: 200px;
        height: auto;
      }
    }
  }
}

.new-button {  
  display: flex; /* 横並びにする */
  align-items: center; /* 縦方向の中央揃え */
  background-color: #9bfe9b;
  color: rgb(237, 155, 23);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}

.new-button:hover {
  background-color: #30f830; /* ホバー時の背景色 */
  // font-weight: bold;
}
  


.link_inner {
  border-radius: 10px;
  margin-right: 10px;
}

.seller-edit {
  padding: 20px;
  font-family: sans-serif;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .field {
    margin-bottom: 10px;

    label {
      display: block;
      font-weight: bold;
    }

    input[type="text"], textarea {
      width: 100%;
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
  }

  .actions {
    margin-top: 20px;
  }
}