.seller-details {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }

  p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;

    strong {
      font-weight: bold;
      color: #333;
    }
  }

  a {
    color: #007bff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    th, td {
      padding: 10px;
      text-align: left;
      border: 1px solid #ddd;
    }

    th {
      background-color: #f5f5f5;
      font-weight: bold;
      color: #333;
    }

    td {
      color: #555;
      
        img {
          width: 300px; /* 希望する横幅 */
           /* 高さ自動調整 */
          margin: 12px; /* 必要に応じて右マージンを追加 */
          vertical-align: middle; /* 必要に応じて縦方向の配置を調整 */
        }
      
    }

    a {
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .seller-info-table {
    margin-bottom: 30px;
    
  }

  .event-info-table {
    margin-top: 20px;

    th {
      background-color: #e8f5e9; /* 薄い緑 */
    }
  }
}
